@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color:  rgb(107 114 128 / var(--tw-text-opacity)) 
}

.circle{
    width: 350px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 0 9px;
}

@media (max-width:640px) {
    .circle{
        width: 150px;
        margin-right: -10px;

    }
}

